/node_modules
/public/build
/public/hot
/public/storage
/public/csv
/storage/*.key
/vendor
.env
.env.prod
.env.local
.env.dev
.env.local
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.tinkerun

# Laravel IDE Helper Generator File
_ide_helper.php
_ide_helper_models.php

# Copied Vendor Fonts
public/fonts/vendor

# Other Compiled or Changing Files
/public/images/vendor
